
* {
    box-sizing: border-box;
}

:root {
    --primary-dark-color: color: rgb(35, 35, 35);
    --primary-background-color: #C4C4C4;
    --spacer-border-radius-sm: 10px;
    --spacer-padding-sm: 10px;
    --box-shadow-dark-right: 2px 2px 15px 1px rgba(20,20,20,0.4);
    --box-shadow-dark-left: -2px 2px 15px 1px rgba(20,20,20,0.4);
}

body {
    margin: 0;
    padding: var(--spacer-padding-sm);
    background-color: var(--primary-background-color);
}

#app {
    position: relative;
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    max-width: 50rem;
}

.gallery__button {
    border: none;
    padding: 0;
    margin: 0;
    border-radius: var(--spacer-border-radius-sm);
    overflow: hidden;
}

.gallery__button:hover {
    border: 3px solid var(--primary-dark-color);
}

.gallery__image {
    width: 100%;
    height: 100%;
    border-radius: var(--spacer-border-radius-sm);
    transition: all .5s;
}

.gallery__image:hover {
    transform: scale(1.1);
    transition: all .5s;
}

.modal-container {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    min-width: 100%;
    min-height: 100vh;
}

.modal {
    position: fixed;
    width: 90vh;
    height: 90vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: var(--spacer-padding-sm);
}

.modal__button--close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: var(--box-shadow-dark-right);
}

.modal__button--close:after{
    display: inline-block;
    font-size: 35px;
    color: var(--primary-dark-color);
    content: "\00d7";
}

.modal__img {
    max-width: 100%;
    height: auto;
    align-self: center;
    border-radius: var(--spacer-border-radius-sm);
}

.modal__img__container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.arrow {
    position: fixed;
    top: 50%;
    width: 50px;
    height: 60px;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.arrow--right {
    right: 20px;
}

.arrow--right::after,
.arrow--right::before {
    border-right: 10px solid;
    content: '';
    display: block;
    height: 25px;
    position: absolute;
    right: 25px;
    top: 50%;
    width: 0;
    color: #fff;
    box-shadow:  var(--box-shadow-dark-right);
}

.arrow--right::after {
    margin-top: -30px;
    transform: rotate(135deg);
}

.arrow--right::before {
    margin-top: -18px;
    transform: rotate(-135deg);
}

.arrow--left {
    left: 20px;
}

.arrow--left::after,
.arrow--left::before {
    border-right: 10px solid;
    content: '';
    display: block;
    height: 25px;
    position: absolute;
    left: 25px;
    top: 50%;
    width: 0;
    color: #fff;
    box-shadow: var(--box-shadow-dark-left);
}

.arrow--left::after {
    margin-top: -30px;
    transform: rotate(-135deg);
}

.arrow--left::before {
    margin-top: -18px;
    transform: rotate(135deg);
}

.hidden {
    display: none;
}

.arrow::after,
.arrow::before {
    transition: all .2s;
    opacity: .5;
}

.arrow:hover::after,
.arrow:hover::before {
    transition: all .2s;
    height: 30px;
    opacity: 1;
}

.arrow:hover::before {
    margin-top: -15px;
}

@media only screen and (min-width: 768px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .arrow--left::after,
    .arrow--left::before {
        height: 36px;
    }

    .arrow--right::after,
    .arrow--right::before {
        height: 36px;
    }

    .arrow--left::before {
        margin-top: -11px;
    }

    .arrow--right::before {
        margin-top: -11px;
    }

    .arrow:hover::after,
    .arrow:hover::before {
        transition: all .2s;
        height: 40px;
    }

    .arrow:hover::before {
        margin-top: -8px;
    }
}

@media only screen and (min-width: 960px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .arrow:after,
    .arrow:before {
        opacity: 1;
    }
}